.faq {
  .accordion{
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    width: 95%;

    h3 {
      font-size: .8rem;
    }

    &__item{
      margin-bottom: 20px;
      &.active{
        .icon-arrow {
          transform: rotate(-180deg);
          transform-origin: center;
          stroke: $soft-red;
        }

        .accordion__body{
          border-bottom: 1px solid #DEDFE3;
          animation-name: fadeIn;
          animation-duration: .3s;
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
      border-bottom: 1px solid #DEDFE3;

      &:hover{
        color: $soft-red;
        cursor: pointer;
      }

      h3 {
        text-align: left;
      }

      svg {
        height: 20px;
        width: 20px;
      }

      .icon-arrow {
        margin-left: 16px;
        stroke: $soft-blue;
      }
    }
    &__body{
      &.hidden{
        display: none;
      }

      p{
        text-align: left;
        padding-left: 0;
      }
    }
  }
}

// Desktop Styles
@media(min-width: $breakpoint-desktop){
  .faq {
    .accordion {
      width: 640px;
      font-size: 1rem;
      h3 {
        font-size: 1rem;
      }
    }
  }
}