.features {
  &-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 72px;
    &__wrapper{
      width: 100%;
    }

    &__item{
      padding: 16px;
      border-top: 1px solid rgba(73, 93, 207, .2);
      width: 100%;
      &:last-child{
        border-bottom: 1px solid rgba(73, 93, 207, .2);
      }
      &:hover{
        color: $soft-red;
        cursor: pointer;
      }
    }
  }  

  &__tab {
  //   &--selected{
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }
  //   display: none;
  // }
      display: flex;
      flex-direction: column;
      align-items: center;
      &.hidden{
        display: none;
      }
  }

  &__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    &::before{
      bottom: -40px;
      right: 90px;
    }
  }
}

// Desktop Styles
@media (min-width: $breakpoint-desktop){
  .features{

    &-nav{
      flex-direction: row;
      &__wrapper{
        width: 730px;
      }

      &__item{
        border-top: none;
        border-bottom: 1px solid rgba(73, 93, 207, .2);

        &--active{
          font-weight: 500;
          border-bottom: 4px solid $soft-red;
        }
      }
    }

    &__tab{
      flex-direction: row;
      justify-content: center;
    }

    &__img {
      width: 50%;
    }

    &__desc{
      width: 40%;
      align-items: flex-start;
      margin-left: 125px;

      p {
        text-align: left;
        padding-left: 0;
      }
    }
  }
}