.site-footer{
  background-color: $very-dark-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px;

  &__logo{
    margin-bottom: 40px;
  }

  &__nav {
    list-style: none;
    text-align: center;

    li {
      padding-bottom: 32px;
    }
    
    a {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
    }
  }

  .social-media{
    display: flex;
    justify-content: center;
    img {
      padding: 20px 20px 0 20px;
    }
  }
}

// Desktop Styles
@media(min-width: $breakpoint-desktop){
  .site-footer{
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__logo {
      margin: 0;
      margin-right: 65px;
      height: 100%;
    }

    &__nav{
      &--item {
        display: inline-block;
        padding: 36px;
        font-size: .8rem;
      }
    }

    .social-media{
      margin-left: 450px;
      img {
        padding: 0;
        margin-left: 40px;
      }
    }
  }
}