.hero {
  margin-bottom: 140px;

  &__img {
    width: 100%;
    position: relative;
    margin-bottom: 90px;
  }

  &__downloads {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}