// Typography
body {
  font-family: $body-family;
}

html {
  font-size: $body-text-size;
}

h1, h2, h3, p {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: .9rem;
}

// Global
html {
  box-sizing: border-box;
  width: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $very-dark-blue;
  width: 100%;
}

.site__wrapper{
  padding: 40px 32px;
  width: 100%;
  overflow: hidden;

  @media (min-width: $breakpoint-desktop) {
    max-width: 1440px;
  }

  &--large{
    width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

p {
  padding: 32px;
  color: $grayish-blue;
}



.btn-primary {
  @extend %button;
  background-color: $soft-blue;
}

.btn-secondary{
  @extend %button;
  background-color: $soft-red;
}

.btn-tertiary{
  @extend %button;
  background-color: $light-gray;
  color: $grayish-blue;
}

.img-bg-decoration {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  max-width: 580px;
  
  img {
    max-width: 100%;
    height: auto;
  }

  &::before{
  z-index: -99999;
  position: absolute;
  content: "";
  display: block;
  width: 1000px;
  height: 80%;
  border-radius: 300px;
  background: $soft-blue;
  }
}